@media screen and (min-width: 300px) and (max-width: 500px) {
    .small_screen_image_height{
        width: 58% !important;
        height: 170px !important;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 789px) and (max-width: 3000px) {
    .breadcrump_size{
        font-size: 96px;
    }
}


@media screen and (min-width: 320px) and (max-width: 768px) {
    .small_screen_nav{
        background-color: #464646 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .font_banner_text{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .mobile_view_btn{
        text-align: left !important;
        width: 100%;
    }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .small_screen_image_height{
        width: 58% !important;
        height: 300px !important;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .gradient-background {
        background: #FFFFFF33;
        transform: skew(0deg);
    }
}




