@media screen and (min-width: 300px) and (max-width: 500px) {
    .small_screen_image_height{
        width: 58% !important;
        height: 170px !important;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 789px) and (max-width: 3000px) {
    .breadcrump_size{
        font-size: 96px;
    }
}


@media screen and (min-width: 320px) and (max-width: 768px) {
    .small_screen_nav{
        background-color: #464646 !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .font_banner_text{
        font-size: 20px !important;
    }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .mobile_view_btn{
        text-align: left !important;
        width: 100%;
    }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .small_screen_image_height{
        width: 58% !important;
        height: 300px !important;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .gradient-background {
        background: #FFFFFF33;
        transform: skew(0deg);
    }
}


@media screen and (min-width: 300px) and (max-width: 500px) {
    .banner_height{
        height: 400px !important;
    }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .small_screen_button_width{
        width: 100% !important;
    }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .small_screen_image_height_new_change{
        height: 150px !important;
        width: 70% !important;
    }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .small_screen_justify{
        justify-content: end;
    }
}

@media screen and (min-width: 500px) and (max-width: 3000px) {
    .small_screen_justify{
        justify-content: center;
    }
}


@media screen and (min-width: 300px) and (max-width: 500px) {
    .small_screen_justify_start{
        justify-content: left;
    }
}

@media screen and (min-width: 500px) and (max-width: 3000px) {
    .small_screen_justify_start{
        justify-content: center;
    }
}

@media screen and (min-width: 500px) and (max-width: 3000px) {
    .section_padding_padding_top{
        padding-top: 0px;
        padding-bottom: 100px;
        background: #181818 !important;
    }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .small_screen_cta_margin_top{
        margin-top: 100px;
    }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
    .girl_cta_height{
        height: 200px;
    }
}

@media screen and (min-width: 300px) and (max-width: 789px) {
    .small_screen_event_display{
        display: none!important;
    }
}



@media screen and (min-width: 789px) and (max-width: 4000px) {
    .small_screen_event_display{
        display: block!important;
    }
}



@media screen and (min-width: 300px) and (max-width: 789px) {
    .small_screen_event_display_block{
        display: block !important;
    }
}

@media screen and (min-width: 790px) and (max-width: 3000px) {
    .small_screen_event_display_block{
        display: none !important;
    }
}

@media screen and (min-width: 790px) and (max-width: 3000px) {
    .event_small_screen_image_height{
        height: 364px !important;
    }
}

@media screen and (min-width: 300px) and (max-width: 789px) {
    .subscribe_center{
        text-align: center !important;
    }
}

@media screen and (min-width: 789px) and (max-width: 3000px) {
    .subscribe_center{
        text-align: end !important;
    }
}

@media screen and (min-width: 789px) and (max-width: 3000px) {
    .mobile_view_btn_footer{
        width: 80% !important;
    }
}

@media screen and (min-width: 300px) and (max-width: 789px) {
    .mobile_view_cta_footer_text{
        text-align: center !important;
    }
}


@media screen and (min-width: 789px) and (max-width: 3000px) {
    .bread_heading_height{
        height: 700px;
        padding-bottom: 150px;
    }
}


@media screen and (min-width: 300px) and (max-width: 789px) {
    .bread_heading_height{
        height: 400px;
        padding-bottom: 150px;
    }
}



























